@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*This ensures that the padding and borders are included in the height and width of each element*/
  font-family: Poppins;
}

::-webkit-scrollbar {
  display: none;
}


/*Add CSS properties for green_dot.png */

img.dot {
  width: 15px !important;
  /**/
}

/*  *{ } -> means universal usage of whatever is written in {} throughout your application */
@media (max-width: 900px) {
  .hidden {
    display: none;
  }
}